.row-films__large {
  width: 100%;
  height: 617px;
  background: #000;
  color: white;
  position: relative;
  transition: all 0.5s ease-in-out;
  transition: 0.3s;
  .hight-rating {
    color: #3bb33b;
  }
  .low-rating {
    color: #666;
  }
  img {
    position: absolute;
    width: 75%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    z-index: 1;
    top: 0;
    right: 0;
  }

  .row-films__large_content {
    z-index: 22;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(
      89.44deg,
      #0f0f0f 0.51%,
      #0b0b0b 18.27%,
      #090909 29.89%,
      rgba(6, 6, 6, 0.707547) 46.28%,
      rgba(4, 4, 4, 0.46) 55.51%,
      rgba(0, 0, 0, 0) 66.09%
    );
    width: 100%;
    height: 100%;
    padding: 72px 60px;
    transition: 0.3s;
  }

  .large-content-filter {
    backdrop-filter: blur(20px);
    -webkit-box-shadow: 35px 0px 99px 50px #0f0f0f inset;
    -moz-box-shadow: 35px 0px 99px 50px #0f0f0f inset;
    box-shadow: 35px 0px 99px 50px #0f0f0f inset;
    background: linear-gradient(
      89.44deg,
      #0f0f0f 0.51%,
      #0b0b0b 18.27%,
      #090909 29.89%,
      rgba(6, 6, 6, 0.707547) 46.28%,
      rgba(4, 4, 4, 0.46) 55.51%,
      rgba(0, 0, 0, 0.36) 66.09%
    );
    transition: 0.3s;
  }
}

.row-films__btns {
  display: flex;
  gap: 0px 15px;
}

.row-films__large_description {
  display: flex;
  gap: 0px 15px;
  margin-top: 15px;

  span {
    color: #4aab42;
    font-weight: bold;
    font-size: 16px;
  }
  p {
    font-weight: 500;
    font-size: 16px;
    color: #909090;
  }
}


