
.button-normal {
  padding: 15px 20px;
  border: none;
  display: flex;
  gap: 0px 10px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  background: #222222;
  cursor: pointer;
}
.button-orange {
  background: #ff6600;
  padding: 15px 20px;
  border: none;
  display: flex;
  gap: 0px 10px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
}
