@import './__large/row-films__large.scss';
@import './__slide/row-films__slide.scss';
@import './__title/row-films__title.scss';

.row-films {
  width: 100%;

  .row-films-rows {
    margin-left: 60px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  
  
}
