@import './__menu/header__menu.scss';
@import './__profile/header__profile.scss';

.header {
  width: 100%;
  padding: 0px 60px;
  height: 70px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  align-items: center;
  position: fixed;
  justify-content: space-between;

  z-index: 99;

}
